body {
    
    font-family: 'Montserrat', sans-serif;
}

/* Color de fondo de la barra */
.topnav {
    background-color: #0e2b4c;
    overflow: hidden;
    
}

/* Estilo de los vínculos */
.topnav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
}

/* Cambia el estilo en hover */
.topnav a:hover {
    background-color: whitesmoke;
    color: #2d99dc;
}

/* Define el estilo de la página activa */
.topnav a.activa {
    background-color:#2d99dc;
}

/* Oculta el ícono de hamburguesa en pantallas grandes */
.topnav .icono {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.acceso a{
    color: #0e2b4c;
    font-size: 20px;
    padding: 10px;
}

header img{
    width: 100px;
    padding: 10px;
}


/* Configuraciones responsivas */
@media screen and (max-width: 768px) {
    
    .topnav a:not(.activa) {
        display: none;
    }
    
    .topnav a.icono {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icono {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    


}
    


